<!DOCTYPE html>

<body>

  <!-- Header -->
    <nav>
      <div class="ui fixed menu main">
          <h1 style="padding-top: 10px; color: rgb(23, 45, 87);" routerLink="" class='ui container center'>Covid-19 Management System</h1>
          <a style="padding-top: 20px; border-radius: 10px;" routerLink='admin' class="ui button blue left">Admin</a>
          <a style="padding-top: 20px; border-radius: 10px;" routerLink='user' class="ui button blue left">User</a>
        <!-- <div>
          <a routerLink="user" class="nav-brand text-dark">User</a>
          <a routerLink="admin" class="nav-brand text-dark">Admin</a>
        </div> -->
      </div>
    </nav>
  <!-- /Header -->

</body>