<nav>
  <div class="ui fixed menu main">
    <h1 style="padding-top: 10px;" class='ui container center'>COVID-19 Patients Details</h1>
    <a style="padding-top:10px; border-radius: 10px;" routerLink='/add' class="ui button blue left">Add</a>
  </div>
</nav>
<div style="padding: 60pt 20px;">
  <div class="ui content">
    <!-- *ngFor='let u in user' -->

    <!-- <div className="header">{{name}}</div>
  <div>{{email}}</div>
  <div>{{email}}</div>
  <div>{{email}}</div>
  <div>{{email}}</div> -->
    hsjhgjhgxbjx
    xmmxbbmx
    xnbxhb
    <i class="trash alternate outline icon" style=" color: red, margin= 7px, marginLeft= 10px "></i>
    <a routerLink='/update/1'>
      <i class="edit alternate outline icon" style=" color: blue , marginTop= 7px "></i>
    </a>
  </div>
</div>